@model IEnumerable<SuperHeroCreator.Models.SuperHero>

@{
    ViewBag.Title = "Index";
}

<h2>Your Favorite Heroes</h2>

<p>
    @Html.ActionLink("Create", "Create", "Heroes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimarySuperPower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternatePower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AlterEgo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimarySuperPower)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AlternatePower)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CatchPhrase)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) ||
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
